<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Housescraper App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div id="navbar">
        <!-- Navigation bar content -->
    </div>

    {% block content %}
    {% endblock %}

    <div id="footer">
        <!-- Footer content -->
    </div>
</body>
</html>